/*! formstone v1.3.3 [dropdown.css] 2017-04-18 | GPL-3.0 License | formstone.it */

.fs-dropdown {
    position: relative;
    z-index: 1;
    display: table;
    width: auto;
    min-width: 200px;
    max-width: 100%;
    margin-bottom: 10px;
    outline: 0;
}
.fs-dropdown *:focus {
    outline: 0;
}
.fs-dropdown,
.fs-dropdown *,
.fs-dropdown:after,
.fs-dropdown:before,
.fs-dropdown:after,
.fs-dropdown:before {
    box-sizing: border-box;
    -webkit-transition: none;
    transition: none;
    -webkit-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important
}
.fs-dropdown-element {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    opacity: 0;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent
}
.fs-dropdown-mobile .fs-dropdown-element {
    z-index: 7
}
.fs-dropdown-mobile.fs-dropdown-multiple .fs-dropdown-element {
    z-index: -1
}
.fs-dropdown-selected {
    outline: 0;
    height: 40px;
    line-height: 38px;
    padding: 0 10px;
    padding-right: 30px;
    border-radius: 100px;
    font-size: 14px;
    color: #000000;
    background: #ffffff;
    border: 1px solid #b7b7be;
    font-weight: 400;

    width: 100%;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: block;
    overflow: hidden;
    text-align: left;
    text-overflow: clip;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.fs-dropdown-selected:after {
    font-family: "icomoon";
    content: "\e909";
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    font-size: 12px;
    margin-top: -6px;
    color: #000000;
    line-height: 1;
}
.fs-dropdown.fs-dropdown-focus .fs-dropdown-selected:after {
    color: #cf1324;
    border-color: #cf1324;
}
.fs-dropdown.fs-dropdown-focus .fs-dropdown-selected {
    border-color: #cf1324;
}
.fs-dropdown-options {
    margin-top: 10px;
    width: 100%;
    max-height: 300px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;
    background: #fff;
    border: 0;
    display: none;
    overflow: auto;
    overflow-x: hidden;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.fs-dropdown.fs-dropdown-bottom .fs-dropdown-options {
    margin-top: 0;
    margin-bottom: -2px;
}
.fs-dropdown-options.fs-scrollbar {
    position: absolute
}
.fs-dropdown-group {
    display: block;
    font-size: 75%
}
.fs-dropdown-item {
    border: none;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    background: #fff;
    border-radius: 0;
    color: #000;
    cursor: pointer;
    display: block;
    overflow: hidden;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis
}
.fs-dropdown-item:hover, 
.fs-dropdown-item:focus {
    background-color: #eee;
}
.fs-dropdown-item_placeholder {
    display: none
}
.fs-dropdown-item_selected {
    background: #cf1324;
    color: white;
}
.fs-dropdown-item_selected:hover,
.fs-dropdown-item_selected:focus {
    background: #cf1324;
    color: white;
}
.fs-dropdown-item_disabled {
    cursor: default;
    opacity: .5
}
.fs-dropdown-open {
    z-index: 3
}
.fs-dropdown-open .fs-dropdown-options {
    display: block
}
.fs-dropdown-open .fs-dropdown-selected {
    z-index: 6
}
.fs-dropdown-cover.fs-dropdown-open .fs-dropdown-selected {
    z-index: 4
}
.fs-dropdown-cover .fs-dropdown-options {
    top: 0
}
.fs-dropdown-bottom .fs-dropdown-options {
    top: auto;
    bottom: 100%
}
.fs-dropdown-bottom.fs-dropdown-cover .fs-dropdown-options {
    top: auto;
    bottom: 0
}
.fs-dropdown-multiple .fs-dropdown-options {
    width: 100%;
    position: static;
    display: block
}
.fs-dropdown-disabled {
    opacity: .5
}
.fs-dropdown-disabled .fs-dropdown-selected {
    cursor: default
}
.fs-dropdown-disabled .fs-dropdown-group,
.fs-dropdown-disabled .fs-dropdown-item {
    cursor: default
}
.fs-dropdown-options.fs-scrollbar {
    overflow: hidden
}
.fs-dropdown-options.fs-scrollbar .fs-scrollbar-bar {
    border: 1px solid;
    border-width: 0 0 0 1px
}
.fs-dropdown-options.fs-scrollbar .fs-scrollbar-content {
    max-height: 260px;
    height: auto
}
.fs-dropdown-options.fs-scrollbar.fs-scrollbar-active .fs-scrollbar-content {
    padding: 0
}

@media (min-width: 1220px) {
    .fs-dropdown-selected {
        padding: 0 20px;
        padding-right: 40px;
        font-size: 16px;
    }
    .fs-dropdown-selected:after {
        right: 20px;
    }
    .fs-dropdown-item {
        font-size: 16px;
        padding: 10px 20px;
    }
}
@media (min-width: 1800px) {
    .fs-dropdown-selected {
        font-size: 18px;
        height: 50px;
        line-height: 48px;
        padding: 0 30px;
        padding-right: 55px;
    }
    .fs-dropdown-selected:after {
        right: 23px;
        font-size: 14px;
        margin-top: -7px;
    }
    .fs-dropdown-item {
        padding: 13px 30px;
        font-size: 18px;
    }
}