$icomoon-font-path: "../fonts/icomoon" !default;

$icon-zoom-in: "\e916";
$icon-delivery: "\e915";
$icon-chevron-left-narrow: "\e913";
$icon-chevron-right-narrow: "\e914";
$icon-car-lights: "\e90c";
$icon-tires: "\e90d";
$icon-child-seats: "\e90e";
$icon-alarms: "\e90f";
$icon-accessories: "\e910";
$icon-autooil: "\e911";
$icon-batteries: "\e912";
$icon-loupe: "\e905";
$icon-chevron-down: "\e901";
$icon-chevron-left: "\e902";
$icon-chevron-right: "\e903";
$icon-basket: "\e904";
$icon-menu: "\e906";
$icon-phone: "\e907";
$icon-clock: "\e908";
$icon-mail: "\e909";
$icon-arrow-right: "\e90a";
$icon-close: "\e900";
$icon-compare: "\e90b";