// Transition
@mixin transition($elem:all, $time:0.2s, $animate:ease) { 
  transition: $elem $time $animate;
}
// position pave
@mixin positionPave {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
// hover focus
@mixin hover {
  &:hover,
  &:focus {
    @content;
  }
}
// first elem
@mixin first {
  &:first-child {
    @content;
  }
}
// last elem
@mixin last {
  &:last-child {
    @content;
  }
}
// placeholder
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }  
}
// media
@mixin mediaQuery($media: min, $viewport: $viewportMedium) {
  @if $media == min {
    @media (min-width: $viewport) {
      @content;
    }
  }
  @else if $media == max {
    @media (max-width: $viewport - 1) {
      @content;
    }
  }
}
// Font
@mixin mainFont {
  font-family: 'Montserrat', sans-serif;
}

@mixin icomoon {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}