// Colors
$white: #fff;
$black: #000;
$text: #444;
$red: #de0d2f;
$red2: #ff002a;
$red3: #c70f2d;
$gray: #6f6f6f;
$gray2: #666666;
$lightGray: #f7f7f7;
$link: #00047a;

// Text
$normal: 400;
$semi: 600;
$bold: 700;

// Media
$viewportSmall: 640px;
$viewportMedium: 960px;
$viewportLarge: 1200px;
$viewportXlarge: 1600px;