@charset "UTF-8";

html {
  /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
  /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
  /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

body {
    font-size: 12px;
    background-color: #fff;
    font-family: 'Garamond', sans-serif;
    line-height: 1.6;
    font-weight: 400;
    color: #000;
    color: rgba(0, 0, 0, 0.8);
}

@media (min-width: 640px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 18px;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input, button, a, textarea {
    outline: 0;
}

input, button, textarea {
    font-family: 'Garamond', sans-serif;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-family: 'Garamond', sans-serif;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    font-family: 'Garamond', sans-serif;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    font-family: 'Garamond', sans-serif;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-family: 'Garamond', sans-serif;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    opacity: 0;
}

input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
    opacity: 0;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    opacity: 0;
}

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
    opacity: 0;
}

a {
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

/* Шрифты */
@font-face {
    font-family: 'Garamond';
  src: url("../fonts/Garamond/Garamond.eot");
  src: url("../fonts/Garamond/Garamond.eot?#iefix") format("embedded-opentype"), url("../fonts/Garamond/Garamond.ttf") format("truetype"), url("../fonts/Garamond/Garamond.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
  src: url("../fonts/FuturaPT-Book/FuturaPT-Book.eot");
  src: url("../fonts/FuturaPT-Book/FuturaPT-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Book/FuturaPT-Book.ttf") format("truetype"), url("../fonts/FuturaPT-Book/FuturaPT-Book.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
  src: url("../fonts/FuturaPT-Demi/FuturaPT-Demi.eot");
  src: url("../fonts/FuturaPT-Demi/FuturaPT-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Demi/FuturaPT-Demi.ttf") format("truetype"), url("../fonts/FuturaPT-Demi/FuturaPT-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
    font-family: 'Playfair';
  src: url("../fonts/PlayfairDisplaySC-Regular/PlayfairDisplaySC-Regular.eot");
  src: url("../fonts/PlayfairDisplaySC-Regular/PlayfairDisplaySC-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplaySC-Regular/PlayfairDisplaySC-Regular.ttf") format("truetype"), url("../fonts/PlayfairDisplaySC-Regular/PlayfairDisplaySC-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'Playfair';
  src: url("../fonts/PlayfairDisplaySC-Bold/PlayfairDisplaySC-Bold.eot");
  src: url("../fonts/PlayfairDisplaySC-Bold/PlayfairDisplaySC-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplaySC-Bold/PlayfairDisplaySC-Bold.ttf") format("truetype"), url("../fonts/PlayfairDisplaySC-Bold/PlayfairDisplaySC-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: 'Playfair';
  src: url("../fonts/PlayfairDisplaySC-Black/PlayfairDisplaySC-Black.eot");
  src: url("../fonts/PlayfairDisplaySC-Black/PlayfairDisplaySC-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplaySC-Black/PlayfairDisplaySC-Black.ttf") format("truetype"), url("../fonts/PlayfairDisplaySC-Black/PlayfairDisplaySC-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

/* Common styles */
h1, h2, h3, h4, h5,
.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5 {
    display: block;
    color: #000;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.2;
    font-weight: 700;
}

h1, .uk-h1 {
    font-family: 'Playfair', serif;
    font-size: 36px;
    font-weight: 900;
    line-height: 1.05;
}

@media (min-width: 960px) {
    h1, .uk-h1 {
        font-size: 48px;
    }
}

@media (min-width: 1200px) {
    h1, .uk-h1 {
        font-size: 72px;
        margin-bottom: 40px;
    }
}

h2, .uk-h2 {
    font-family: 'Playfair', serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.4;
}

@media (min-width: 960px) {
    h2, .uk-h2 {
        font-size: 38px;
    }
}

@media (min-width: 1200px) {
    h2, .uk-h2 {
        font-size: 54px;
        margin-bottom: 40px;
    }
}

h3, .uk-h3 {
    font-family: 'Playfair', serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
}

@media (min-width: 960px) {
    h3, .uk-h3 {
        font-size: 26px;
    }
}

@media (min-width: 1200px) {
    h3, .uk-h3 {
        font-size: 32px;
        margin-bottom: 30px;
    }
}

.uk-container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    max-width: 100%;
}

@media (min-width: 1600px) {
    .uk-container {
        max-width: 1816px;
        padding: 0 40px;
    }
}

.uk-container-small {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.uk-button {
    min-width: 200px;
    height: 50px;
    border: 1px solid transparent;
    line-height: 48px;
    white-space: nowrap;
    padding: 0 35px;
    background-color: #ab8b70;
    color: #fff;
    font-family: 'FuturaPT', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.28px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition-property: color, background-color, background, border, opacity;
    transition-property: color, background-color, background, border, opacity;
}

.uk-button:hover, .uk-button:focus {
    text-decoration: none;
    color: #fff;
}

.uk-button:hover:hover, .uk-button:hover:focus, .uk-button:focus:hover, .uk-button:focus:focus {
    opacity: 0.88;
}

.uk-button.green-btn {
    background-color: #449088;
    color: #fff;
}

.uk-button.black-btn {
    background-color: #4d4d55;
    background-image: -webkit-linear-gradient(top, #4d4d55 0%, #26262b 100%);
    background-image: linear-gradient(180deg, #4d4d55 0%, #26262b 100%);
    color: #fff;
}

.uk-button.border-btn {
    border-color: #ab8b70;
    background: transparent;
    color: #948171;
}

.uk-button.border-btn:hover, .uk-button.border-btn:focus {
    background-color: #ab8b70;
    color: #fff;
    opacity: 1;
}

.section-sides {
    padding-left: 20px;
    padding-right: 20px;
}

.uk-section-large {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (min-width: 960px) {
    .uk-section-large {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media (min-width: 1200px) {
    .uk-section-large {
        padding-top: 170px;
        padding-bottom: 170px;
    }
}

.uk-text-lead {
    color: #ab8b70;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: 0.4px;
    margin: 0 0 20px;
}

@media (min-width: 640px) {
    .uk-text-lead {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    .uk-text-lead {
        font-size: 28px;
        margin-bottom: 40px;
    }
}

* + .uk-text-lead {
    margin-top: 40px;
}

.main-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    text-align: center;
    min-height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 40px 20px;
    margin-left: -20px;
    margin-right: -20px;
}

.main-banner:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: -1;
    background-color: #050610;
    opacity: 0.8;
}

@media (min-width: 640px) {
    .main-banner {
        padding: 80px 0;
    }
}

@media (min-width: 1200px) {
    .main-banner {
        margin-left: 0;
        margin-right: 0;
    }
}

.main-banner__content p {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.main-banner .uk-h1 {
    color: #fff;
}

.main-banner__subtitle {
    color: #ab8b70;
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 20px;
}

@media (min-width: 640px) {
    .main-banner__subtitle {
        font-size: 28px;
    }
}

@media (min-width: 1200px) {
    .main-banner__subtitle {
        font-size: 35px;
        margin-bottom: 40px;
    }
}

.collage-block {
    display: inline-block;
    position: relative;
    padding-right: 32px;
    margin-bottom: 40% !important;
}

.collage-block .item-01 {
    width: 100%;
}

.collage-block .item-02 {
    width: 75%;
    position: absolute;
    top: 75%;
    right: 0;
}

@media (min-width: 1600px) {
    .collage-block {
        padding-right: 60px;
    }
}

.section-hatch-first,
.section-hatch-last {
    position: relative;
}

@media (min-width: 960px) {
    .section-hatch-first:before,
    .section-hatch-last:before {
        content: "";
        display: block;
        border-radius: 100px;
        width: 40px;
        height: 40px;
        border: 1px solid #ab8b70;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
}

@media (min-width: 960px) and (min-width: 1200px) {
    .section-hatch-first:before,
    .section-hatch-last:before {
        width: 50px;
        height: 50px;
        border-width: 2px;
    }
}

@media (min-width: 960px) {
    .section-hatch-first:after,
    .section-hatch-last:after {
        content: "";
        display: block;
        border-left: 1px dashed #ab8b70;
        position: absolute;
        left: 50%;
    }
}

@media (min-width: 960px) {
    .section-hatch-first:before {
        top: -20px;
    }

    .section-hatch-first:after {
        top: 20px;
        bottom: 0;
    }
}

@media (min-width: 1200px) {
    .section-hatch-first:before {
        top: -25px;
    }

    .section-hatch-first:after {
        top: 25px;
    }
}

@media (min-width: 960px) {
    .section-hatch-last:before {
        top: 20px;
    }

    .section-hatch-last:after {
        height: 20px;
        top: 0;
    }
}

@media (min-width: 1200px) {
    .section-hatch-last:before {
        top: 30px;
    }

    .section-hatch-last:after {
        height: 30px;
    }
}

.section-hatch {
    position: relative;
}

@media (min-width: 960px) {
    .section-hatch:before, .section-hatch:after {
        content: "";
        display: block;
        border-left: 1px dashed #ab8b70;
        position: absolute;
        left: 50%;
        height: 60px;
    }

    .section-hatch:before {
        top: 0;
    }

    .section-hatch:after {
        bottom: 0;
    }
}

@media (min-width: 1200px) {
    .section-hatch:before, .section-hatch:after {
        height: 90px;
    }
}

.carousel {
    margin: 60px 0;
}

.carousel:first-child {
    margin-top: 0;
}

.carousel:last-child {
    margin-bottom: 0;
}

@media (min-width: 1200px) {
    .carousel {
        margin: 125px 0;
    }
}

@media (max-width: 1199px) {
    .carousel .uk-slider-container .uk-grid {
        margin-left: -14px;
    }

    .carousel .uk-slider-container .uk-grid > * {
        padding-left: 14px;
    }
}

.carousel .uk-position-center-left-out {
    margin-right: -45px;
}

.carousel .uk-position-center-right-out {
    margin-left: -45px;
}

@media (min-width: 1200px) {
    .carousel .uk-position-center-left-out {
        margin-right: -15px;
    }

    .carousel .uk-position-center-right-out {
        margin-left: -15px;
    }
}

@media (min-width: 1600px) {
    .carousel .uk-position-center-left-out {
        margin-right: -20px;
    }

    .carousel .uk-position-center-right-out {
        margin-left: -20px;
    }
}

.slider {
    position: relative;
    z-index: 0;
}

.slider-arrow {
    display: block;
    width: 48px;
    height: 48px;
    line-height: 46px;
    text-align: center;
    font-size: 24px;
    color: #ab8b70 !important;
    border-radius: 100px;
    border: 1px solid #ab8b70;
    background-color: #fff;
    text-decoration: none;
}

.slider-arrow .icon {
    line-height: inherit;
}

.slider-arrow:hover, .slider-arrow:focus {
    text-decoration: none;
    color: #fff !important;
    background-color: #ab8b70;
}

@media (min-width: 1600px) {
    .slider-arrow {
        width: 60px;
        height: 60px;
        line-height: 58px;
        font-size: 32px;
    }
}

.section-dark {
    background-color: #26262b;
    background-image: -webkit-linear-gradient(top, #4d4d55 0%, #26262b 100%);
    background-image: linear-gradient(180deg, #4d4d55 0%, #26262b 100%);
}

.section-beige {
    background-color: #ebe8e3;
}

.section-dark,
.section-beige {
    margin-left: -20px;
    margin-right: -20px;
}

@media (min-width: 1200px) {
    .section-dark,
    .section-beige {
        margin-left: 0;
        margin-right: 0;
    }
}

.lined-title-center {
    display: block;
    margin-bottom: 26px;
}

.lined-title-center:after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: #ab8b70;
    margin: 20px auto 0;
}

.lined-title {
    display: block;
    margin-bottom: 26px;
}

.lined-title:after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: #ab8b70;
    margin-top: 20px;
}

.service-section {
    padding-bottom: 0;
}

.service-section:after {
    content: none;
    display: none;
}

.service-list {
    display: block;
    margin-top: 40px;
}

@media (min-width: 640px) {
    .service-list__grid > *:nth-child(1), .service-list__grid > *:nth-child(5n-5) {
        position: relative;
        left: 50%;
    }

    .service-list__grid > *:nth-child(2), .service-list__grid > *:nth-child(6n-6) {
        position: relative;
        right: 50%;
    }
}

@media (min-width: 1200px) {
    .service-list {
        margin-top: 80px;
    }
}

.service-list .uk-cover-container {
    height: 160px;
    margin-left: -20px;
    margin-right: -20px;
}

@media (min-width: 640px) {
    .service-list .uk-cover-container {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 640px) {
    .service-list__panel,
    .service-list .uk-cover-container {
        height: 300px;
    }
}

@media (min-width: 1200px) {
    .service-list__panel,
    .service-list .uk-cover-container {
        height: 400px;
    }
}

.service-list__panel {
    padding: 30px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.service-list__panel .line-list {
    display: inline-block;
}

.line-list {
    list-style: none;
    padding: 0;
    text-align: left;
}

.line-list > li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 4px;
}

.line-list > li:before {
    content: "";
    display: block;
    width: 10px;
    height: 1px;
    background-color: #ab8b70;
    position: absolute;
    top: 10px;
    left: 0;
}

@media (min-width: 1200px) {
    .line-list > li {
        padding-left: 30px;
        margin-bottom: 6px;
    }

    .line-list > li:before {
        width: 15px;
        height: 2px;
        top: 12px;
    }
}

.section-dark .price-elem {
    color: #fff;
}

.price-list {
    margin-top: 80px;
    margin-bottom: 80px;
}

.price-list .uk-grid-margin {
    margin-top: 50px;
}

@media (min-width: 1200px) {
    .price-list {
        margin-top: 130px;
        margin-bottom: 100px;
    }

    .price-list .uk-grid-margin {
        margin-top: 70px;
    }
}

@media (max-width: 639px) {
    #prices .border-btn {
        margin-top: 50px;
    }
}

.price-elem {
    display: block;
    white-space: nowrap;
    font-size: 18px;
    line-height: 18px;
    font-family: 'Playfair', serif;
    font-weight: 400;
}

.price-elem > span {
    font-size: 28px;
    line-height: inherit;
}

@media (min-width: 1200px) {
    .price-elem {
        font-size: 26px;
        line-height: 26px;
    }

    .price-elem > span {
        font-size: 48px;
    }
}

.advantage-list {
    list-style: none;
    padding: 0;
    margin-top: 60px;
    margin-bottom: 60px;
}

.advantage-list__item {
    text-align: center;
}

.advantage-list__item_icon {
    display: block;
    margin: 0 auto 15px;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border-radius: 100%;
    border: 1px solid #ab8b70;
}

.advantage-list__item_icon img {
    display: inline-block;
    max-height: 80px;
    max-width: 80px;
}

.advantage-list__item p {
    font-size: 18px;
}

.uk-form {
    margin-top: 40px;
}

@media (min-width: 1200px) {
    .uk-form {
        margin-top: 90px;
    }
}

.uk-form__margin {
    margin-bottom: 30px;
}

.uk-form__margin:last-child {
    margin-bottom: 0;
}

@media (min-width: 1200px) {
    .uk-form__margin {
        margin-bottom: 55px;
    }
}

.uk-form .black-btn {
    min-width: 265px;
}

.uk-form .uk-input,
  .uk-form .uk-textarea {
    display: block;
    padding: 0;
    width: 100%;
    max-width: 100%;
    border: 0;
    border-bottom: 1px solid #948171;
    background-color: #ebe8e3;
    color: #18191b;
    font-size: 16px;
}

.uk-form .uk-input::-webkit-input-placeholder,
    .uk-form .uk-textarea::-webkit-input-placeholder {
    color: #18191b;
}

.uk-form .uk-input:-moz-placeholder,
    .uk-form .uk-textarea:-moz-placeholder {
    color: #18191b;
}

.uk-form .uk-input::-moz-placeholder,
    .uk-form .uk-textarea::-moz-placeholder {
    color: #18191b;
}

.uk-form .uk-input:-ms-input-placeholder,
    .uk-form .uk-textarea:-ms-input-placeholder {
    color: #18191b;
}

@media (min-width: 640px) {
    .uk-form .uk-input,
      .uk-form .uk-textarea {
        font-size: 21px;
        border-width: 2px;
    }
}

.uk-form .uk-input {
    height: 50px;
}

@media (min-width: 640px) {
    .uk-form .uk-input {
        height: 68px;
    }
}

.uk-form .uk-textarea {
    min-height: 50px;
    padding-top: 10px;
    height: auto;
    line-height: 1.2;
}

@media (min-width: 640px) {
    .uk-form .uk-textarea {
        min-height: 68px;
        padding-top: 16px;
    }
}

.file-elem {
    max-width: 300px;
    margin: auto;
    display: block;
    position: relative;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.file-elem:before {
    content: "";
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 50%;
    left: 50px;
    font-size: 26px;
    margin-top: -13px;
    color: #000;
}

.file-elem input[type=file] {
    cursor: pointer;
    font-size: 0;
}

.file-elem__input {
    width: 100%;
    max-width: 100%;
    background: transparent;
    margin: 0;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    font-family: 'Garamond', sans-serif;
    color: #18191b;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    height: 50px;
    padding: 0 10px 0 90px;
    text-overflow: ellipsis;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transition-property: color,background-color,border;
    transition-property: color,background-color,border;
}

.file-elem__input::-webkit-input-placeholder {
    font-family: 'Garamond', sans-serif;
    color: #18191b;
}

.file-elem__input:-moz-placeholder {
    font-family: 'Garamond', sans-serif;
    color: #18191b;
}

.file-elem__input::-moz-placeholder {
    font-family: 'Garamond', sans-serif;
    color: #18191b;
}

.file-elem__input:-ms-input-placeholder {
    font-family: 'Garamond', sans-serif;
    color: #18191b;
}

.file-elem__input:hover, .file-elem__input.uk-focus {
    opacity: 0.8;
}

@media (min-width: 640px) {
    .file-elem__input {
        font-size: 18px;
    }
}

.contacts-section {
    position: relative;
}

.contacts-section .map {
    height: 560px;
    margin-left: -20px;
    margin-right: -20px;
}

@media (min-width: 960px) {
    .contacts-section .map {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 1200px) {
    .contacts-section .contacts-panel {
        height: 560px;
    }

    .contacts-section .map {
        position: absolute;
        top: 0;
        left: 50%;
        bottom: 0;
        right: 0;
    }
}

.contacts-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    padding-top: 40px;
}

.contacts-panel .uk-list {
    font-family: 'FuturaPT', sans-serif;
    font-weight: 300;
}

.contacts-panel .uk-list li a {
    display: inline-block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

.contacts-panel p:last-child {
    margin-bottom: 0;
}

@media (min-width: 960px) {
    .contacts-panel {
        font-size: 21px;
        padding-top: 0;
    }
}

.social-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.social-list > li {
    display: inline-block;
    font-size: 1rem;
    margin-right: 40px;
}

.social-list > li:last-child {
    margin-right: 0;
}

.social-list > li > a {
    display: block;
    color: #fff;
    font-size: 18px;
    line-height: 1;
    text-decoration: none;
}

.social-list > li > a:hover, .social-list > li > a:focus {
    color: #ab8b70;
    text-decoration: none;
}

.footer {
    background-color: #000;
    padding: 30px 0;
}

@media (min-width: 960px) {
    .footer {
        padding: 36px 0;
    }
}

.footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.footer-menu > li {
    display: inline-block;
    font-size: 1rem;
    margin-right: 10px;
}

.footer-menu > li:last-child {
    margin-right: 0;
}

.footer-menu > li > a {
    color: #fff;
    font-family: 'FuturaPT', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.28px;
}

.footer-menu > li > a:hover, .footer-menu > li > a:focus {
    text-decoration: underline;
    color: #fff;
}

.niki-link {
    display: inline-block;
    opacity: 0.47;
    color: #ffffff;
    font-family: 'FuturaPT', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.28px;
    line-height: 1;
}

.niki-link:hover, .niki-link:focus {
    opacity: 1;
    text-decoration: underline;
    color: #fff;
}

.header {
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    background-color: #fff;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.header.uk-navbar-sticky {
    box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.08);
}

.header.uk-navbar-sticky .uk-navbar {
    padding: 0;
}

.header .uk-navbar {
    padding: 10px 0;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition-property: padding;
    transition-property: padding;
}

@media (min-width: 1600px) {
    .header .uk-navbar-nav {
        width: 100%;
        max-width: 700px;
    }

    .header .uk-navbar-left {
        width: 55%;
    }

    .header .uk-navbar-right {
        width: 45%;
    }
}

.header__phone {
    color: rgba(0, 0, 0, 0.8);
    font-family: 'FuturaPT', sans-serif;
    font-weight: 600;
    font-size: 18px;
    white-space: nowrap;
    text-decoration: none;
}

.header__phone:hover, .header__phone:focus {
    color: #000;
    text-decoration: none;
    color: #808080;
}

@media (min-width: 1600px) {
    .header__phone {
        margin-right: 90px;
    }
}

.uk-navbar-toggle {
    color: #948171;
    padding-right: 0;
}

.uk-navbar-toggle svg {
    width: 30px;
    height: 30px;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background-color: #fff;
}

.uk-navbar-container .uk-navbar-item:first-child {
    padding-left: 0;
}

.uk-navbar-container .uk-navbar-item:last-child {
    padding-left: 0;
}

.uk-logo {
    color: #000;
    color: rgba(0, 0, 0, 0.8);
    font-size: 24px;
    font-family: 'Garamond', sans-serif;
    font-weight: 700;
    line-height: 28px;
    white-space: nowrap;
    padding-right: 40px;
}

@media (min-width: 1200px) {
    .uk-logo {
        padding-right: 80px;
    }
}

@media (min-width: 1600px) {
    .uk-logo {
        padding-right: 100px;
    }
}

.uk-navbar-nav > li:first-child > a {
    padding-left: 0;
}

.uk-navbar-nav > li:last-child > a {
    padding-right: 0;
}

.uk-navbar-nav > li > a {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.28px;
    color: #000;
    font-family: 'FuturaPT', sans-serif;
    font-weight: 600;
    white-space: nowrap;
}

.uk-navbar-nav > li > a:hover, .uk-navbar-nav > li > a:focus {
    text-decoration: none;
    color: #808080;
}

.uk-navbar-nav > li.uk-active > a {
    color: #ab8b70;
}

@charset "UTF-8";

@font-face {
    font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.ttf?di79bg") format("truetype"), url("../fonts/icomoon/icomoon.woff?di79bg") format("woff"), url("../fonts/icomoon/icomoon.svg?di79bg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-clip:before {
    content: "";
}

.icon-youtube:before {
    content: "";
}

.icon-instagram:before {
    content: "";
}

.icon-vk:before {
    content: "";
}

.icon-arrow-left:before {
    content: "";
}

.icon-arrow-right:before {
    content: "";
}




