<!-- Подключаем базовый шаблон -->
{% extends "base.html" %}

<!-- Заголовок -->
{% block title %}Блог детальная{% endblock %}

<!-- Контент страницы -->
{% block content %}


<div class="wrapper">
  <div class="uk-container">
    {% include "../include/breadcrumbs.html" %}
    
    <h1 class="page-title">Как поменять моторное масло?</h1>


    <div class="main-content">
      <div class="uk-grid uk-grid-medium" uk-grid>

        <div class="uk-width-1-4@m uk-flex-last@m">
          <div class="sidebar">

            <div class="side-menu">
              <ul class="side-menu__list">
                <li><a href="">Статьи</a></li>
                <li><a href="">Обзоры</a></li>
                <li class="active"><a href="">Советы</a></li>
              </ul>
            </div><!-- end side-menu -->

          </div><!-- end sidebar -->
        </div><!-- end column -->

        <div class="uk-width-3-4@m">
          <div class="left-content text-content">
            <p class="uk-text-lead">Менять моторное масло и фильтр самостоятельно просто и недорого</p>
            
            <img class="uk-align-right@s" src="../images/media/blog-detail-01.jpg" alt="картинка">

            <p>Одна из самых важных процедур, которые необходимо регулярно выполнять, чтобы Ваш автомобиль оставался в отличной форме, – замена моторного масла и фильтра. Масло в машине работает так же, как кровь в нашем организме: за счет его циркуляции в двигателе вся система работает ровно и эффективно. Частая замена масла и фильтра – гарантия долгой жизни Вашего автомобиля и его бесперебойной работы.</p>

            <p>Когда приходит время менять моторное масло (рекомендуемый интервал между заменами указан в инструкции по эксплуатации к Вашему автомобилю), у Вас есть два варианта: либо Вы отправляетесь на СТО, в дилерский центр или пункт замены, либо делаете всё сами. Механики и другие специалисты по обслуживанию и ремонту автомобилей, конечно же, блестяще справятся со своими обязанностями, но и самому осуществить замену довольно просто и недорого. С помощью данной инструкции Вы сможете правильно поменять масло в двигателе своей машины – одной из самых ценных и дорогих вещей, которые у Вас есть.</p>

            <h2>Оборудование для обслуживания автомобиля</h2>

            <p>Прежде чем приступить к выполнению задания, убедитесь, что у Вас есть всё необходимое оборудование и материалы. Вот что Вам понадобится:</p>

            <ul>
              <li>Моторное масло нужной вязкости в достаточном объеме. Воспользуйтесь нашим инструментом по подбору моторного масла, чтобы выяснить, какое именно масло вам нужно. Обязательно сверьтесь с инструкцией по эксплуатации к Вашему автомобилю, где указаны рекомендованные производителем спецификации, класс вязкости и необходимый объем масла. Если Вы еще пользуетесь минеральными продуктами, подумайте о том, чтобы перейти на синтетическое моторное масло, например на Mobil 1™, – так Вы сможете повысить эффективность работы Вашего двигателя.</li>
              <li>Масляный фильтр высокого качества. Торцевой ключ</li>
              <li>Ключ для масляных фильтров</li>
              <li>Воронка</li>
              <li>Емкость для старого масла, например поддон или ведро</li>
              <li>Газеты</li>
              <li>Тряпки</li>
            </ul>

            

            <h2>Уберите за собой и утилизируйте отработавшее масло</h2>

            <p>Вы справились с заданием, теперь нужно обязательно убрать за собой. Перелейте масло из поддона в старый контейнер – или в другую подходящую емкость, а старый фильтр положите в полиэтиленовый пакет.
            Лучший способ избавиться от старого моторного масла – утилизировать его. Некоторые СТО и пункты замены бесплатно принимают старое масло и масляные фильтры.
            Наконец, выкиньте грязные газеты и тряпки. Теперь и Вы, и Ваш автомобиль можете отправляться в путь.
            Запишите дату замены масла и пробег, чтобы знать, когда провести процедуру в следующий раз. Не забывайте менять масло регулярно.</p>

            <ol>
              <li>Нумерованный список</li>
              <li>Нумерованный список</li>
              <li>Нумерованный список</li>
              <li>Нумерованный список</li>
            </ol>

          </div><!-- end left-content -->
        </div><!-- end column -->

      </div><!-- end grid -->
    </div><!-- end main-content -->


  </div><!-- end container -->
</div><!-- end wrapper -->


<!-- related -->
<section class="section gray-bg">
  <div class="uk-container">
    <div class="section-title uk-h2">Интересные предложения</div>

    <div class="product-row">
      <div class="uk-grid uk-grid-match uk-grid-medium" uk-grid uk-height-match="target: .product__title">

        <div class="uk-width-1-3@s uk-width-1-4@m uk-width-1-5@l">
          {% include "../include/product.html" %}
        </div><!-- end column -->

        <div class="uk-width-1-3@s uk-width-1-4@m uk-width-1-5@l">
          {% include "../include/product.html" %}
        </div><!-- end column -->

        <div class="uk-width-1-3@s uk-width-1-4@m uk-width-1-5@l">
          {% include "../include/product.html" %}
        </div><!-- end column -->

        <div class="uk-width-1-3@s uk-width-1-4@m uk-width-1-5@l">
          {% include "../include/product.html" %}
        </div><!-- end column -->

        <div class="uk-width-1-3@s uk-width-1-4@m uk-width-1-5@l">
          {% include "../include/product.html" %}
        </div><!-- end column -->

      </div><!-- end grid -->
    </div><!-- end product-row -->
  </div><!-- end container -->
</section>



{% endblock %}

<!-- Дополнительные скрипты -->
{% block extraScripts %}{% endblock %}