<!-- Подключаем базовый шаблон -->
{% extends "base.html" %}

<!-- Заголовок -->
{% block title %}Детальная{% endblock %}

<!-- Контент страницы -->
{% block content %}

<div class="wrapper">
  <div class="uk-container">
    {% include "../include/breadcrumbs.html" %}
    
    <h1 class="page-title">Масло моторное Mobil Super 3000 Х1 5W40 синтетическое 1 л</h1>

    <div class="detail-page">
      <div class="detail-page__grid uk-grid" uk-grid>
        <div class="uk-width-2-5@m">
          <div class="detail-page__left">

            <div class="detail-slider slider">
              <div class="detail-slider__top-bar">
                <a class="elem-icon-text" href="" title="Добавить в сравнение">
                  <span class="icon icon-compare"></span>
                  <span>В сравнение</span>
                </a>
              </div>

              <div class="detail-slider-main" uk-lightbox="animation: fade">
                <div class="slider-block">
                  <div class="slider-item">
                    <a class="lightbox-elem img-center" href="../images/media/product-large-01.jpg">
                      <img uk-img data-src="../images/media/product-large-01.jpg" alt="Название">
                    </a>
                  </div><!-- end slider-item -->
                  <div class="slider-item">
                    <a class="lightbox-elem img-center" href="../images/media/product-large-01.jpg">
                      <img uk-img data-src="../images/media/product-large-01.jpg" alt="Название">
                    </a>
                  </div><!-- end slider-item -->
                  <div class="slider-item">
                    <a class="lightbox-elem img-center" href="../images/media/product-large-01.jpg">
                      <img uk-img data-src="../images/media/product-large-01.jpg" alt="Название">
                    </a>
                  </div><!-- end slider-item -->
                  <div class="slider-item">
                    <a class="lightbox-elem img-center" href="../images/media/product-large-01.jpg">
                      <img uk-img data-src="../images/media/product-large-01.jpg" alt="Название">
                    </a>
                  </div><!-- end slider-item -->
                </div><!-- end slider-block -->

                <!-- Стрелки навигации для основного слайдера -->
                <div class="slider-control slider-prev uk-visible-large"><span class="icon icon-chevron-left-narrow"></span></div>
                <div class="slider-control slider-next uk-visible-large"><span class="icon icon-chevron-right-narrow"></span></div> 
              </div><!-- end detail-slider-main -->
              
              <!-- Нижний слайдер -->
              <div class="slider-thumb slider slider-grid-small">
                <div class="slider-block">
                  <div class="slider-item">
                    <div class="img-center">
                      <img uk-img data-src="../images/media/product-01.jpg" alt="Название">
                    </div>
                  </div><!-- end slider-item -->
                  <div class="slider-item">
                    <div class="img-center">
                      <img uk-img data-src="../images/media/product-01.jpg" alt="Название">
                    </div>
                  </div><!-- end slider-item -->
                  <div class="slider-item">
                    <div class="img-center">
                      <img uk-img data-src="../images/media/product-01.jpg" alt="Название">
                    </div>
                  </div><!-- end slider-item -->
                  <div class="slider-item">
                    <div class="img-center">
                      <img uk-img data-src="../images/media/product-01.jpg" alt="Название">
                    </div>
                  </div><!-- end slider-item -->
                </div><!-- end slider-block -->
              </div><!-- end slider-thumb -->

            </div><!-- end detail-slider -->

          </div><!-- end detail-page__left -->
        </div><!-- end column -->

        <div class="uk-width-3-5@m">
          <div class="detail-page__right">
            <div class="uk-grid uk-grid-medium" uk-grid>

              <div class="uk-width-auto@s uk-flex-last@s">
                <div class="detail-page__sidebar">
                  <div class="buy-block">
                    <div class="quantity-block">
                      <div class="quantity">
                        <span class="quantity__btn minus">−</span>
                        <div class="quantity__field">
                          <input  class="quantity__input js__input-width" type="text" value="1">
                        </div>
                        <span class="quantity__btn plus">+</span>
                      </div>
                    </div>

                    <div class="buy-block__price-item">
                      <div class="price"><span>3 657</span> руб</div>
                      <div class="old-price"><span>4100</span> руб</div>
                    </div>
                  </div><!-- end buy-block -->

                  <a class="uk-button" href="">В корзину</a>
                  <a class="uk-button border-btn" href="#quickBuyModal" uk-toggle>Купить в 1 клик</a>

                  <a href="" class="small-banner img-center uk-visible@s">
                    <img uk-img data-src="../images/media/small-banner-01.jpg" alt="Акция">
                  </a>
                </div><!-- end detail-page__sidebar -->
              </div><!-- end column -->

              <div class="uk-width-expand@s">
                <div class="detail-page__prop-block">
                  <div class="uk-h4">Характеристики</div>

                  <ul class="leader-list">
                    <li>
                      <span uk-leader="fill:-">Вязкость:</span>
                      <span><strong>0W-30</strong></span>
                    </li>
                    <li>
                      <span uk-leader="fill:-">Тип масла:</span>
                      <span><strong>Синтетическое</strong></span>
                    </li>
                    <li>
                      <span uk-leader="fill:-">Тип двигателя:</span>
                      <span><strong>Дизельный</strong></span>
                    </li>
                    <li>
                      <span uk-leader="fill:-">Объем (в литрах):</span>
                      <span><strong>1</strong></span>
                    </li>
                  </ul>
                  
                  <div class="detail-page__delivery-info">
                    <div class="uk-h4">Доставка</div>

                    <p>Самовывоз: 0 дней</p>

                    <p>
                      Доставка по Москве:  1-2 дня
                      <span class="uk-text-meta">Бесплатная доставка от 5000 руб.</span>
                    </p>

                    <p>
                      Доставка в регионы: 3-15 дней
                      <span class="uk-text-meta">Бесплатная доставка до ТК от 5000 руб.</span>
                    </p>

                    <p>
                      <a href="">Подробнее</a>
                    </p>
                  </div>
                  
                </div><!-- end detail-page__prop-block -->
              </div><!-- end column -->

            </div><!-- end grid -->
          </div><!-- end detail-page__right -->
        </div><!-- end column -->

      </div><!-- end grid -->

      <div class="tabs">
        <ul class="tabs-list" uk-switcher>
          <li class="uk-active"><a href="#">Описание</a></li>
          <li><a href="#">Оплата</a></li>
          <li><a href="#">Доставка</a></li>
        </ul>

        <div class="tabs-content uk-switcher">
          <div class="tabs-content__panel uk-active">
            <p>Масла Mobil Super 3000 разработаны таким образом, чтобы предоставить дополнительный уровень защиты по сравнению с минеральными и полусинтетическими маслами. ExxonMobil рекомендует применять Mobil Super 3000 X1 5W-30, когда регулярно возникают сложные условия вождения, чтобы предотвратить повреждения от интенсивных и частых нагрузок. Mobil Super 3000 X1 Formula FE 5W-30 может применяться в различных автомобилях с бензиновыми и дизельными двигателями, малотоннажных грузовиках и микроавтобусах, в которых обычно рекомендованы моторные масла с низкой вязкостью (HTHS). Mobil Super 3000 X1 Formula FE 5W-30 разработано в первую очередь согласно требованиям стандарта Ford, но пригодно и для применения в двигателях автомобилей других марок с соответствующими требованиями к вязкости и качеству.</p>

            <p>Масло Mobil Super 3000 X1 Formula FE 5W-30 может применяться во всех двигателях, требующих соответствия требованиям WSS-M2C913-D, и также может еще использоваться в тех случаях, когда рекомендуется соответствие требованиям WSS-M2C913-C.</p>

            <p>Всегда сверяйтесь с руководством по эксплуатации Вашего автомобиля для правильного выбора масла по классу вязкости и характеристикам</p>
          </div><!-- end tabs-content__panel -->
          <div class="tabs-content__panel">
            2
          </div><!-- end tabs-content__panel -->
          <div class="tabs-content__panel">
            3
          </div><!-- end tabs-content__panel -->
        </div><!-- end tabs-content -->
      </div><!-- end tabs -->

    </div><!-- end detail-page -->
  </div><!-- end container -->
  
</div><!-- end wrapper -->

<!-- related -->
<section class="section gray-bg">
  <div class="uk-container">
    <div class="section-title uk-h2">Аналогичные товары</div>

    <div class="product-row">
      <div class="uk-grid uk-grid-match uk-grid-medium" uk-grid uk-height-match="target: .product__title">

        <div class="uk-width-1-3@s uk-width-1-4@m uk-width-1-5@l">
          {% include "../include/product.html" %}
        </div><!-- end column -->

        <div class="uk-width-1-3@s uk-width-1-4@m uk-width-1-5@l">
          {% include "../include/product.html" %}
        </div><!-- end column -->

        <div class="uk-width-1-3@s uk-width-1-4@m uk-width-1-5@l">
          {% include "../include/product.html" %}
        </div><!-- end column -->

        <div class="uk-width-1-3@s uk-width-1-4@m uk-width-1-5@l">
          {% include "../include/product.html" %}
        </div><!-- end column -->

        <div class="uk-width-1-3@s uk-width-1-4@m uk-width-1-5@l">
          {% include "../include/product.html" %}
        </div><!-- end column -->

      </div><!-- end grid -->
    </div><!-- end product-row -->
  </div><!-- end container -->
</section>



{% endblock %}

<!-- Дополнительные скрипты -->
{% block extraScripts %}{% endblock %}