<!-- Подключаем базовый шаблон -->
{% extends "base.html" %}

<!-- Заголовок -->
{% block title %}Акции и предложения{% endblock %}

<!-- Контент страницы -->
{% block content %}

<div class="wrapper">
  <div class="uk-container">
    {% include "../include/breadcrumbs.html" %}
    
    <h1 class="page-title">Акции и предложения</h1>

    <ul class="sale-list uk-grid uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid uk-height-match="target: .sale-item__body > .uk-h4">
      <li>
        <div class="sale-item">
          <a class="uk-cover-container">
            <img class="uk-cover" uk-img uk-cover data-src="../images/media/sale-slide-01.jpg" alt="Акция">
          </a>

          <div class="sale-item__body">
            <a href="" class="uk-h4">Скидка 30% на шины Goodyear</a>
            <div class="uk-text-truncate">до 30 ноября 2019 года</div>
            <a class="more" href="">Подробнее</a>
          </div>
        </div><!-- end sale-item -->
      </li>
      <li>
        <div class="sale-item">
          <a class="uk-cover-container">
            <img class="uk-cover" uk-img uk-cover data-src="../images/media/sale-slide-01.jpg" alt="Акция">
          </a>

          <div class="sale-item__body">
            <a href="" class="uk-h4">Скидка 30% на шины Goodyear и заголовок длиннее</a>
            <div class="uk-text-truncate">до 30 ноября 2019 года и текст длинный длинный длинный</div>
            <a class="more" href="">Подробнее</a>
          </div>
        </div><!-- end sale-item -->
      </li>
      <li>
        <div class="sale-item">
          <a class="uk-cover-container">
            <img class="uk-cover" uk-img uk-cover data-src="../images/media/sale-slide-01.jpg" alt="Акция">
          </a>

          <div class="sale-item__body">
            <a href="" class="uk-h4">Скидка 30% на шины Goodyear</a>
            <div class="uk-text-truncate">до 30 ноября 2019 года</div>
            <a class="more" href="">Подробнее</a>
          </div>
        </div><!-- end sale-item -->
      </li>
      <li>
        <div class="sale-item">
          <a class="uk-cover-container">
            <img class="uk-cover" uk-img uk-cover data-src="../images/media/sale-slide-01.jpg" alt="Акция">
          </a>

          <div class="sale-item__body">
            <a href="" class="uk-h4">Скидка 30% на шины Goodyear</a>
            <div class="uk-text-truncate">до 30 ноября 2019 года</div>
            <a class="more" href="">Подробнее</a>
          </div>
        </div><!-- end sale-item -->
      </li>
      <li>
        <div class="sale-item">
          <a class="uk-cover-container">
            <img class="uk-cover" uk-img uk-cover data-src="../images/media/sale-slide-01.jpg" alt="Акция">
          </a>

          <div class="sale-item__body">
            <a href="" class="uk-h4">Скидка 30% на шины Goodyear</a>
            <div class="uk-text-truncate">до 30 ноября 2019 года</div>
            <a class="more" href="">Подробнее</a>
          </div>
        </div><!-- end sale-item -->
      </li>
      <li>
        <div class="sale-item">
          <a class="uk-cover-container">
            <img class="uk-cover" uk-img uk-cover data-src="../images/media/sale-slide-01.jpg" alt="Акция">
          </a>

          <div class="sale-item__body">
            <a href="" class="uk-h4">Скидка 30% на шины Goodyear</a>
            <div class="uk-text-truncate">до 30 ноября 2019 года</div>
            <a class="more" href="">Подробнее</a>
          </div>
        </div><!-- end sale-item -->
      </li>
    </ul>

    
  </div><!-- end container -->
</div><!-- end wrapper -->



{% endblock %}

<!-- Дополнительные скрипты -->
{% block extraScripts %}{% endblock %}