<!-- Подключаем базовый шаблон -->
{% extends "base.html" %}

<!-- Заголовок -->
{% block title %}Текстовая{% endblock %}

<!-- Контент страницы -->
{% block content %}


<div class="wrapper">
  <div class="uk-container">
    {% include "../include/breadcrumbs.html" %}
    
    <h1 class="page-title">О компании</h1>


    <div class="main-content">
      <div class="uk-grid uk-grid-medium" uk-grid>

        <div class="uk-width-1-4@m uk-flex-last@m">
          <div class="sidebar">

            <a href="" class="small-banner img-center uk-visible@m">
              <img uk-img data-src="../images/media/small-banner-01.jpg" alt="Акция">
            </a>

          </div><!-- end sidebar -->
        </div><!-- end column -->

        <div class="uk-width-3-4@m">
          <div class="left-content text-content">
            <p>Занимаясь авто шинами и дисками уже длительное время, наша компания готова предложить Вам лучший ассортимент автошин и дисков, который не оставит равнодушным самого притязательного автовладельца. Убедиться в этом можно, посетив наш интернет магазин шин, где в интерактивном каталоге представлены самые разные типы и размеры.</p>

            <p>Вне зависимости от класса Вашего автомобиля и даже при самых скромных финансовых возможностях Вы сможете подобрать подходящую продукцию на любой сезон и погодные условия.</p>

            <p>Занимаясь авто шинами и дисками уже длительное время, наша компания готова предложить Вам лучший ассортимент автошин и дисков, который не оставит равнодушным самого притязательного автовладельца. Убедиться в этом можно, посетив наш интернет магазин шин, где в интерактивном каталоге представлены самые разные типы и размеры.</p>

            <p>Вне зависимости от класса Вашего автомобиля и даже при самых скромных финансовых возможностях Вы сможете подобрать подходящую продукцию на любой сезон и погодные условия.</p>

          </div><!-- end left-content -->
        </div><!-- end column -->

      </div><!-- end grid -->
    </div><!-- end main-content -->


  </div><!-- end container -->
</div><!-- end wrapper -->



{% endblock %}

<!-- Дополнительные скрипты -->
{% block extraScripts %}{% endblock %}